CITYDB_HOST=127.0.0.1
CITYDB_PORT=5434
CITYDB_NAME=citydb
CITYDB_USER=citydb
CITYDB_PASSWORD=changeMe
CITYDB_OPTIONS="-c max_parallel_workers_per_gather=0 -c jit=off"

DEV_SERVER_HOST=127.0.0.1
WEB_MAP_BASE_URL=https://www.3dcitydb.org/3dcitydb-web-map/2.0.0/
NYC_PARTS_CACHE_PATH=data/nycity-parts-cache.json

NYC_PART_COUNT=20
NYC_DEFAULT_PART_ID=NYC_DA4
NYC_LOD=2
NYC_VERTICAL_SCALE=0.3048006096
CITYDB_HEIGHT_MODE=relative
CITYDB_VERTICAL_OFFSET_METERS=0

MAX_SURFACES_PER_RESPONSE=8000000
MAX_SURFACES_PER_PART=8000000
MIN_SURFACES_PER_PART=1500
MIN_QUERY_RADIUS_METERS=2000
MAX_QUERY_RADIUS_METERS=800000
TILESET_GRID_DIVISIONS=16
TILESET_ROOT_GEOMETRIC_ERROR=500
TILESET_PART_GEOMETRIC_ERROR=250

NYC_PARTS_CACHE_MS=60000
GEOJSON_RESPONSE_CACHE_LIMIT=24
GEOJSON_RESPONSE_CACHE_MS=120000
STREETS_RESPONSE_CACHE_LIMIT=48
STREETS_RESPONSE_CACHE_MS=60000
MAX_STREETS_PER_RESPONSE=25000
STREETS_SIMPLIFY_TOLERANCE_DEGREES=0.000005
TILE_RESPONSE_CACHE_LIMIT=12
TILE_RESPONSE_CACHE_MS=120000
TILE_BASE_COLOR_FACTOR=1,1,1,1
TILE_EDGE_OFFSET_METERS=0.15
TILE_GROUND_SURFACE_OFFSET_METERS=0.35
TILE_HTTP_CACHE_CONTROL=no-store
# TILESET_VERSION=citydb-manual-v1

VITE_WEB_MAP_CLIENT_URL=/3dcitydb-client/3dwebclient/index.html?splashWindow=url%3D%26showOnStart%3Dfalse
VITE_SATELLITE_IMAGERY_URL=https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}
VITE_SATELLITE_IMAGERY_CREDIT="Esri World Imagery"
VITE_SATELLITE_IMAGERY_MAX_LEVEL=19
VITE_DEFAULT_SELECTED_PART_ID=NYC_DA4
VITE_AUTO_LOAD_ALL_PARTS=true
VITE_WEB_MAP_CLIENT_WAIT_MS=15000
VITE_TILESET_MAX_SCREEN_SPACE_ERROR=2
VITE_APPLY_TILE_STYLE=false
VITE_STREETS_ENABLED=true
VITE_STREETS_COLOR="#f4f0cf"
VITE_STREETS_ALPHA=0.88
VITE_STREETS_WIDTH=2
VITE_STREETS_FETCH_PADDING=1.15
VITE_STREETS_RELOAD_DEBOUNCE_MS=450
VITE_STREETS_LABELS_ENABLED=true
VITE_STREETS_LABEL_LIMIT=220
VITE_STREETS_LABEL_MAX_CAMERA_HEIGHT=6000
VITE_STREETS_LABEL_MIN_SPACING_METERS=90
VITE_STREETS_LABEL_SCALE=0.55
VITE_STREETS_LABEL_COLOR="#fff8d8"

VITE_TILE_COLOR_ROOF="#e7ff38"
VITE_TILE_COLOR_WALL="#d8ff42"
VITE_TILE_COLOR_FLOOR="#c4f72f"
VITE_TILE_COLOR_OPENING="#f2ff8a"
VITE_TILE_COLOR_ROAD="#baff3d"
VITE_TILE_COLOR_EDGE="#171c12"
VITE_TILE_COLOR_DEFAULT="#dcff3f"
VITE_TILE_ALPHA_ROOF=0.96
VITE_TILE_ALPHA_WALL=0.94
VITE_TILE_ALPHA_FLOOR=0.92
VITE_TILE_ALPHA_OPENING=0.96
VITE_TILE_ALPHA_ROAD=0.9
VITE_TILE_ALPHA_EDGE=1
VITE_TILE_ALPHA_DEFAULT=0.94

VITE_THREE_COLOR_ROOF="#b85d3f"
VITE_THREE_COLOR_WALL="#d5bf86"
VITE_THREE_COLOR_FLOOR="#63745f"
VITE_THREE_COLOR_OPENING="#6f9eb4"
VITE_THREE_COLOR_ROAD="#4f5657"
VITE_THREE_COLOR_OTHER="#8a9aa6"
VITE_THREE_BACKGROUND_COLOR="#111713"
VITE_THREE_FOG_COLOR="#111713"
VITE_THREE_FOG_DENSITY=0.00018
VITE_THREE_CAMERA_FOV=45
VITE_THREE_CAMERA_NEAR=0.1
VITE_THREE_CAMERA_FAR=50000
VITE_THREE_POWER_PREFERENCE=high-performance
VITE_THREE_MAX_PIXEL_RATIO=2
VITE_THREE_CONTROLS_DAMPING=0.08
VITE_THREE_CONTROLS_MIN_DISTANCE=4
VITE_THREE_CONTROLS_MAX_DISTANCE=20000
VITE_THREE_HEMI_SKY_COLOR="#f5f1df"
VITE_THREE_HEMI_GROUND_COLOR="#344239"
VITE_THREE_HEMI_INTENSITY=2.1
VITE_THREE_SUN_COLOR="#ffffff"
VITE_THREE_SUN_INTENSITY=2.9
VITE_THREE_SUN_X=-55
VITE_THREE_SUN_Y=80
VITE_THREE_SUN_Z=42
VITE_THREE_SHADOW_MAP_SIZE=2048
VITE_THREE_WIRE_COLOR="#f2f4ea"
VITE_THREE_WIRE_OPACITY=0.16
VITE_THREE_GROUND_MIN_SIZE=60
VITE_THREE_GROUND_SIZE_FACTOR=1.25
VITE_THREE_GROUND_GRID_DIVISIONS=24
VITE_THREE_GROUND_GRID_COLOR="#607463"
VITE_THREE_GROUND_GRID_CENTER_COLOR="#28352d"
VITE_THREE_GROUND_GRID_OPACITY=0.5
VITE_THREE_GROUND_Y_OFFSET=-0.35
VITE_THREE_CAMERA_DISTANCE_FACTOR=0.82
VITE_THREE_CAMERA_MIN_DISTANCE=46
VITE_THREE_CAMERA_HEIGHT_FACTOR=0.45
VITE_THREE_CAMERA_NEAR_DISTANCE_DIVISOR=1000
VITE_THREE_CAMERA_NEAR_MIN=0.01
VITE_THREE_CAMERA_FAR_DISTANCE_FACTOR=80
VITE_THREE_CAMERA_FAR_MIN=50000
VITE_THREE_KEYBOARD_SPEED_MIN=16
VITE_THREE_KEYBOARD_SPEED_FACTOR=0.75
VITE_THREE_KEYBOARD_SPEED_MAX=380

VITE_INITIAL_FETCH_RADIUS_METERS=2200
VITE_MIN_FETCH_RADIUS_METERS=1200
VITE_MAX_FETCH_RADIUS_METERS=8000
VITE_FETCH_RADIUS_PADDING=1.35
VITE_WINDOW_RELOAD_DISTANCE_FACTOR=0.42
